<div class="bootstrap-wrapper">
    <div class="container text-center margin-top">
        <div class ="row">
            <div class="col-md-6 offset-md-3">
                <div class="container text-center">

                    <img 
                    class="image-fluid" 
                    style="width: 200px" 
                    src="/assets/login_logo.jpg" 
                    alt=""
                    />

                </div>

                <h1 class="text-center"> Please Login below </h1>

                <!-- Creating the login form starts here-->

                <form id="loginBox">

                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Email</mat-label>
                        <input type="email" id="email" matInput/>
                    </mat-form-field>

                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Password</mat-label>
                        <input type="password" id="password" matInput/>
                    </mat-form-field>

                    <div class="container text-center">
                        <button type="submit" mat-raised-button color="accent" id="submitbutton"> Login </button>
                    </div>

                    <div class="container text-center">
                        <span><a mat-icon-button routerLink="/signup" id="signupLink"> New User?clickhere </a></span>
                    </div>

                </form>

            </div>

        </div>

    </div>

</div>

